<%- include('../../partials/header.ejs') %> 

<div class="container">
    <br><br><br><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia atque excepturi accusamus, debitis praesentium, ad asperiores quis eos nesciunt corporis quod suscipit, repellat unde. Commodi perferendis quisquam sapiente et illo.</p>
    <br><br><br><br>
</div>

<%- include('../../partials/footer.ejs') %> 

</body>
</html>