<%- include('../../partials/header.ejs', {title: '404 Not Found'}) %> 

<div class="container my-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <h3>404 Not Found</h3>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %> 

</body>
</html>