<%- include('../../partials/header.ejs', {title: 'Internal server error'}) %> 

<div class="container my-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <h3>Internal server error</h3>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %> 

</body>
</html>