<div class="my-2">
    <% if (flashMessage.success) { %>
        <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
            <%= flashMessage.success %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>     
    <% } %>
    <% if (flashMessage.fail) { %>
        <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
            <%= flashMessage.fail %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>     
    <% } %>
</div>