<div id="sidebar">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/dashboard">Dashboard</a>
        </li>
        <li class="list-group-item">
            <a href="/posts/create">Create Post</a>
        </li>
        <li class="list-group-item">
            <a href="/posts">My Posts</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/bookmarks">Bookmarks</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/comments">Comments</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/edit-profile">Edit Profile</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/change-password">Change Password</a>
        </li>
        <li class="list-group-item">
            <a href="/auth/logout">Logout</a>
        </li>
    </ul>
</div>