<%- include('../partials/header.ejs') %> 

<div class="container my-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="mb-3">Create a new account [from playground]</h5>
                    <form action="/playground/play" method="POST" enctype="multipart/form-data" class="mb-3">
                        <div class="mb-3">
                            <label for="username">Enter user name [ must be uniq ]</label>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="username">Choose your file</label>
                            <input type="file" name="my-file" class="form-control">
                        </div>

                        <input type="submit" class="btn btn-primary" value="Signup">
                    </form>
                    <a href="/auth/login">Already have an account? Signin Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %> 

</body>
</html>